<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Neil Thomas
              </h1>
              <p>I work at the intersection of AI and biology. I was a Research Scientist at <a href="https://x.company">Google X</a>.
              </p>
              <p>
                I completed my PhD at the UC Berkeley in 2022, advised by <a href="https://people.eecs.berkeley.edu/~yss/">Yun S. Song</a>. Prior to that, I was an AI Resident at Google X and a Software Engineer at <a href="https://www.23andme.com">23andMe</a>. I received my BS in Engineering Mathematics and Statistics from UC Berkeley.
              </p>
              <p>
                I like cooking Alison Roman recipes, <a href="https://www.youtube.com/watch?v=Y3K7Qc6vW5Q">comedy</a>, mountains, and ultimate frisbee.
              </p>
              <p style="text-align:center">
                <a target="_blank" href="https://mailhide.io/e/PZby1vuh">email</a> &nbsp;/&nbsp;
                <a href="https://twitter.com/countablyfinite/">twitter</a> &nbsp;/&nbsp;
                <a href="https://github.com/thomas-a-neil">github</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=5qse8XgAAAAJ&hl=en">scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/thomas-a-neil/"> linkedin </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/small_headshot.jpg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                My research focuses on learning meaningful representations of proteins, with the aim of enabling applications in protein design, functional annotation, and structure prediction. My thesis talk "<a href="https://www.youtube.com/watch?v=YGB74H_hbv8">Browsing in the Library of Babel</a>" serves as an accessible introduction.
              </li>
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.preprint %}
              <a href="{{post.preprint}}">preprint</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.twitter %}
              <a href="{{post.twitter}}">tweetorial</a> /
              {% endif %}
              {% if post.talk %}
              <a href="{{post.talk}}">talk</a> /
              {% endif %}
              {% if post.podcast %}
              <a href="{{post.podcast}}">podcast</a> /
              {% endif %}
              {% if post.blog %}
              <a href="{{post.blog}}">blog</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Teaching</h2>
              <p> During my graduate studies at Berkeley I had the privilege of teaching several courses:</p>
              <ul>
                <li>Summer 2022 CS 188: Introduction to Artificial Intelligence</li>
                <li>Fall 2020 Stat 135: Concepts of Statistics</li>
              </ul>
              <p> My <a href="pdfs/teaching_statement.pdf">teaching statement</a>. </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Built on <a style="font-size:small;" href="https://github.com/leonidk/leonidk.github.io">Leonid Keselman's</a> Jekyll fork of <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

